* {
  background-color: black;
}


.board {
  display: flex;
  flex-direction: column;
  padding-left: 30%;
  padding-top: 20%;
}

.board-row {
  display: flex;
}


.square {
  --box-height: 100px;
  --box-width: 100px;

  border: 1px solid blue;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: var(--box-height);
  height: var(--box-height);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: var(--box-width);
}

.gray {
  background-color: gray;
}